body {
    background-color: #003366;
}

h1 {
    color: #0080ff;
    text-align: center;
    font-family: verdana;
    font-size: 48px;
}

h5 {
    color: #b3d9ff;
    text-align: center;
    font-family: verdana;
    font-size: 12px;
}
